{% extends 'base.html.twig' %}
{% block body %}
        <div style="text-align:center;">
            <h1>{{ 'Tasks' }}</h1>
        </div>
        <div class="input-group col-lg-2">
            <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('task_filter') }}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search filter" name ="search">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-outline-primary">search</button>
                </span>
            </div>
            </form>
        </div>
        <div style="text-align:right; margin-right: 20px; font-weight: bold;">
            <span>{{ 'Task done : ' }}</span>
            <span id="tasksDone">{{ done }}</span>
        </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Title' }}</th>
                <th>{{ 'Start date' }}</th>
                <th>{{ 'End date' }}</th>
                <th>{{ 'Project' }}</th>
                <th>{{ 'Done' }}</th>
                <th>{{ 'Invoiced' }}</th>
                <th></th>
            </tr>
            </thead>

            <tbody id="loader" style="opacity: 0;">
            {% for item in list %}
                <tr id="tableData-{{ item.id }}">
                    <td>{{ item.title }}</td>
                    <td>{{ item.startDate|date('Y-m-d') }}</td>
                    <td>{{ item.endDate ? item.endDate|date('Y-m-d') : '' }}</td>
                    <td>{{ item.project.name }}</td>
                    <td id="done-{{ item.id }}">{{ item.done }}</td>
                    <td id="invoice-{{ item.id }}">{{ item.invoiced }}</td>
                    <td class="list-actions">
                            <a onClick="doneAjax({{ item.id }});" class="btn btn-secondary"><img src="{{ asset('images/checked.svg') }}" alt="Done" /></a>
                            <a onClick="invoiceAjax({{ item.id }});" class="btn btn-secondary"><img src="{{ asset('images/bill.svg') }}" alt="Invoice" /></a>
                            <a href="{{ path('task_stats', {'task_id': item.id}) }}" class="btn btn-secondary"><img src="{{ asset('images/statistics.svg') }}" alt="View stats" /></a>
                            <form style="display: inline;" action="{{ path('task_delete', {'task_id': item.id}) }}" method="post">
                                <button type="submit" class="btn btn-danger"><img src="{{ asset('images/delete.svg') }}" alt="Delete" /></button>
                            </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8">
                    <div style="text-align:center;">
                    <a href="{{ path('new_task_form') }}" class="btn btn-success">{{ 'Create a task' }}</a>
                    <a href="{{ path('new_project_form') }}" class="btn btn-success">{{ 'Create a project' }}</a>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}